.alert,
.success
{
   width: 300px; 
   text-align: center;
   position: absolute;
   top: 30px;
   left:50%;
   transform:translateX(-50%);
   color:honeydew;
   padding: 8px 0 ;
   
}
.alert{background-color: rgb(252, 59, 59);}
.success{background-color: rgb(44, 158, 24);}
@keyframes success
